<!DOCTYPE html>
<html>
  <head>
    <title>MembersOnly</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap" rel="stylesheet">
  </head>

  <body>
    <% if flash[:notice] %>

        <p class="notice"><%= notice %></p>

    <% end %>

    <% if flash[:alert] %>

        <p class="alert"><%= alert %></p>

    <% end %>

    <div class="top_bar">
    <% if user_signed_in? %>
     
      <span> <%= current_user.email %> </span>
      <%= link_to  "Sign out", destroy_user_session_path, method: :delete %>
      <br>
    <% else %>
      <%= link_to "Sign up", new_user_registration_path %>
      <%= link_to "Sign in", new_user_session_path %>

    <% end %>
     
     </div>
    
     <div class="container"> 
     <%= yield %>
     </div>
    
  </body>
</html>
